$backg-color: #75cbd3;
$row-backg-color: #fff;
$h5-color: #5FC6CC;
$h4-color: #8CB82D;
$p-color: #56B2BA;
$btn-about: #6DCCD0;
$btn-contact: #88B747;
$btn-blog: #732D89;
$nav-backg-color: #f7cad2;
$nav-a: #68073c;
$sign-up-row: #6DCCD1;
$nav-border: #68073c;
$nav-font: #68073c;
$current-menu-item: #fff;
$container-backg-color: #E0FFD1;
$container-color: #2e8a2e;
$container-hr-color: #00CC00;