
body {
	background-color: #75cbd3;
	/*background: linear-gradient( #d5f1f0, #d5f1f0 150px, #75cbd2 151px, #75cbd3 10000px);
	background: linear-gradient(to bottom, #1e5799 0%,#207cca 31%,#2989d8 31%,#7db9e8 100%);
	background-repeat: no-repeat;*/
}

body div.row {
	background-color: #fff;
	border-radius: 3%;
}

li{
	display: inline;
}

header.ul{
	float: right;
}

div.middle-block {
	padding: 40px;
}

div.spacer {
	height: 140px;
}

h3, h4 {
	font-family: "Gorditas";
	font-weight: bold;
}

p, h5 {
	font-family: "Gorditas";
}

h5{	
 	color: #5FC6CC;
}

h3 a, .btn.default a{
	color: white;
}

h4 {
	color: #8CB82D;
}
p {
	color: #56B2BA;
}

.btn.default.about{
	background-color: #6DCCD0;
}

.btn.default.contact{
	background: #88B747;
}

.btn.default.blog{
	background-color:#732D89;
}

.btn.default.press{
	background-color:#F20088;
}

div.six.columns.top-menu {
	padding-top: 45px;
}

.savings-mult-logo {
    height: auto;
    width: 500px;
    margin: -55px;
    margin-bottom: -40px;
}

body div.row.header-div {
	margin-top: 100px;
	border-radius: 10%;
}

div.row.last-link-row {
	background: transparent;
	color: white;
	margin-bottom: 80px;
}

div.row.last-link-row ul li {
	margin-right: 10px;
}

body div.pink-nav-bar {
	background-color: #f7cad2;
	
	max-width: none;
}

div.pink-nav-bar div.columns:first-child {
	margin-left: 15.5%;
}
div.pink-nav-bar a{
	font-family: "Gorditas", "cursive";
	color: #68073c;
	font-size: 20px;
	margin-right: 40px;
}