body {
  background-color: #75cbd3; }

body .row {
  background-color: #fff;
  border-radius: 0 0 5% 5%; }

li {
  display: inline; }

header.ul {
  float: right; }

.middle-block {
  padding: 40px; }

.spacer {
  height: 140px; }

h3, h4 {
  font-family: "Gorditas";
  font-weight: bold; }

p, h5 {
  font-family: "Gorditas"; }

h5 {
  color: #5FC6CC;
}
/* from EA: h5 styles for the grid */
.breadcrumb h5  {
  font-family: Tahoma, Helvetica, Arial, sans-serif
  
}
/* from EA: h6 styles for the grid */
h6 {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  color: #2e8a2e;
}
.sort {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  color: #2e8a2e;
  text-align: right;
  padding-right:20px;
  
}
/* from EA: a little right float */
.righty {
  float: right;
}

h3 a,
.btn.default a,
.push_four.four.columns p {
  color: white; }

h4 {
  color: #8CB82D; }

p {
  color: #56B2BA; }

.btn.default.about {
  background-color: #6DCCD0; }

.btn.default.contact {
  background: #88B747; }

.btn.default.blog {
  background-color: #732D89; }

.btn.default.press {
  background-color: #F20088; }

.six.columns.top-menu {
  padding-top: 45px; }

.savings-mult-logo {
  height: auto;
  width: 500px;
  margin: -55px;
  margin-bottom: -40px; }

body .row.header-div {
  margin-top: 0;
  border-radius: 30px 30px 0 0; }

.row.last-link-row {
  background: transparent;
  color: white;
  margin-bottom: 80px; }

.row.last-link-row
ul li {
  margin-right: 10px; }

body .pink-nav-bar {
  background-color: #f7cad2;
  max-width: none; }

.pink-nav-bar .columns:first-child {
  margin-left: 19%; }

.pink-nav-bar a {
  font-family: "Gorditas", "cursive";
  color: #68073c;
  font-size: 20px;
  margin-right: 60px; }

.sign-in-sign-up.row {
  background-color: #6DCCD1;
  margin-top: 70px; }

.push_four.four.columns {
  margin-left: 85%;
  margin-right: 60px; }

input.pink-nav-search {
  border-radius: 30px;
  border: 2px solid #68073c;
  color: #68073c; }

.btn.small {
  width: 110px;
  height: 30px; }

.btn a {
  font-size: 20px; }

.row.callout-row {
  background: none; }

.current-menu-item {
  display: none; }

@media screen and (max-width: 500px) {
  .savings-mult-logo {
    margin: 0; }
  .six.columns.top-menu {
    padding-top: 0px; }
  .btn.small.header-btn {
    width: 58px;
    height: 25px; }
  .btn a {
    font-size: 11px; }
  ul.disappearing-list {
    display: none; }
  .current-menu-item {
    display: inline; }
  ul.phone-nav {
    display: none; }
  .spacer {
    display: none; }
  ul.dotted-line-images li:nth-child(n+6) {
    display: none; }
  ul.bottom-links {
    display: none; } }

.current-menu-item:hover > ul.phone-nav {
  display: block; }

.current-menu-item ul div li a.linkColor {
  color: #fff; }

body div.container-color {
  background-color: #E0FFD1;
  color: #2e8a2e;
  font-family: Tahoma, Helvetica, sans-serif;
}
body div.container-color p {
  background-color: #E0FFD1;
  color: #2e8a2e;
  font-family: Tahoma, Helvetica, sans-serif;
}

aside.container-color h5 {
  font-size: 1.3em;
  background-color: #E0FFD1;
  color: #2e8a2e;
  font-family: Tahoma, Helvetica, sans-serif; }

.container-space {
  border-radius: 50px;
  padding: 20px;
  margin-top: 20px;
  background-color: #E0FFD1;
}

.container-color h5 {
  text-align: center; }

.search-container div.field div.btn {
  color: #fff; }

.search-container hr {
  border: 1px solid #00CC00; }

/** EDWIN ADDITIONS
*************************/

/* need some h6 styles */
main.h6 {
  font-size: 1em;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  color: #2e8a2e;
}
/* for the photo captions */
.details {
  margin: 0;
  padding: 0 0 20px 0;
  text-align: center;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  line-height: 1.3em;
  width: 122px;
}
/* gumby margin hack */
columns-fix {
  margin-left: -2.12766%;; }
