 .row
    .four.columns.container-color.container-space
      .container-color
        h5.container-color Limit your search by:
        |
        hr.container-color
        |
        .field
          input.wide.input(type='text')
          |
          .medium.secondary.oval.btn(style='color: #fff; background-color: #00cc00; width: 75px;') search
        |
        .row.container-color
          .six.columns.container-color
            p Condition:
          |
          .six.columns
            div
              label.radio.checked(for='radio1')
                input#radio1(name='radio', value='1', type='radio', checked='checked')
                |
                span
                | New
            |
            div
              label.radio(for='radio2')
                input#radio2(name='radio', value='2', type='radio')
                |
                span
                | Gently Used
          // End of six columns
        // End of row
        p Size:
        |
        .row.container-color
          .push_one.five.columns
            div
              label.radio(for='radio1x')
                input#radio1x(name='radio', value='1', type='radio')
                |
                span
                | 4
            |
            div
              label.radio(for='radio2x')
                input#radio2x(name='radio', value='2', type='radio')
                |
                span
                | 5
            |
            div
              label.radio(for='radio3')
                input#radio3(name='radio', value='3', type='radio')
                |
                span
                | 6
            |
            div
              label.radio(for='radio4')
                input#radio4(name='radio', value='4', type='radio')
                |
                span
                | 7
          // End of column
          .six.columns
            div
              label.radio(for='radio1a')
                input#radio1a(name='radio', value='1', type='radio')
                |
                span
                | 8
            |
            div
              label.radio(for='radio2a')
                input#radio2a(name='radio', value='2', type='radio')
                |
                span
                | 9
            |
            div
              label.radio(for='radio3a')
                input#radio3a(name='radio', value='3', type='radio')
                |
                span
                | 10
            |
            div
              label.radio(for='radio4a')
                input#radio4a(name='radio', value='4', type='radio')
                |
                span
                | 11
          // End of column
        |
        p Seasons:
        |
        .push_one.eleven.columns.container-color
          div
            label.radio(for='radio1b')
              input#radio1b(name='radio', value='1', type='radio')
              |
              span
              | All Seasons
          |
          div
            label.radio(for='radio2b')
              input#radio2b(name='radio', value='2', type='radio')
              |
              span
              | Spring
          |
          div
            label.radio(for='radio3b')
              input#radio3b(name='radio', value='3', type='radio')
              |
              span
              | Summer
          |
          div
            label.radio(for='radio4b')
              input#radio4b(name='radio', value='4', type='radio')
              |
              span
              | Fall
          |
          div
            label.radio(for='radio5')
              input#radio5(name='radio', value='5', type='radio')
              |
              span
              | Winter
        |
        p Type:
        |
        .push_one.eleven.columns.container-color
          div
            label.radio(for='radio1c')
              input#radio1c(name='radio', value='1', type='radio')
              |
              span
              | Any
          |
          div
            label.radio(for='radio2c')
              input#radio2c(name='radio', value='2', type='radio')
              |
              span
              | One Piece
          |
          div
            label.radio(for='radio3c')
              input#radio3c(name='radio', value='3', type='radio')
              |
              span
              | Tops
          |
          div
            label.radio(for='radio4c')
              input#radio4c(name='radio', value='4', type='radio')
              |
              span
              | Bottoms
        |
        p Brand:
        |
        li.field
          .picker
            select
              option Janie and Jack
              |
              option Old Navy
              |
              option Gap
              |
              option Target
              |
              option Columbia
      // End of four columns search-container
    // End of four columns//.row
  aside.four.columns.container-color.container-space
    .container-color
      h5.container-color Limit your search by:
        hr.container-color
        .field
          input.wide.input(type="text")
          .medium.secondary.oval.btn search
        .row.container-color
          .six.columns.container-color
            p Condition:
          .six.columns
            label.radio.checked(for="radio1")
              input(name="radio", id="radio1", value="1", type="radio", checked="checked")
              span New
                label.radio(for="radio2")
                  input(name="radio", id="radio2", value="2", type="radio")
                  span Gently Used
            p Size
            .row.container-color
              .push_one.five.columns
                label.radio(for="radio")
                  input(name="radio", id="radio1x", value="1", type="radio")
                  span 4
                label.radio(for="radio2x")
                  input(name="radio", id="radio2x", value="2", type="radio")
                  span 5
                label.radio(for="radio3")
                  input(name="radio", id="radio3", value="3", type="radio")
                  span 6
                label.radio(for="radio4")
                  input(name="radio", id="radio4", value="4", type="radio")
                  span 7
            //End of column
          .six.columns
            label.radio(for="radio1a")
              input(name="radio", id="radio1a", value="1", type="radio")
              span 8
                label.radio(for="radio2a")
                  input(name="radio", id="radio2a", value="2", type="radio")
                  span 9
                label.radio(for="radio3a")
                  input(name="radio", id="radio3a", value="3", type="radio")
                  span 10
                label.radio(for="radio4a")
                  input(name="radio", id="radio4a", value="4", type="radio")
                  span 11
            //End of column
            p Seasons:
              .push_one.eleven.columns.container-color
                label.radio(for="radio1b")
                  input(name="radio", id="radio1b", value="1", type="radio")
                  span All Seasons
                label.radio(for="radio2b")
                  input(name="radio", id="radio2b", value="2", type="radio")
                  span Spring
                label.radio(for="radio3b")
                  input(name="radio", id="radio3b", value="3", type="radio")
                  span Summer
                label.radio(for="radio4b")
                  input(name="radio", id="radio4b", value="4", type="radio")
                  span Fall
                label.radio(for="radio5")
                  input(name="radio", id="radio5" ,value="5" ,type="radio">)
                  span Winter
            p Type:
              .push_one.eleven.columns.container-color
                label.radio(for="radio1c")
                  input(name="radio", id="radio1c", value="1", type="radio")
                  span Any
                label.radio(for="radio2c")
                  input(name="radio", id="radio2c", value="2", type="radio")
                  span One Piece
                label.radio(for="radio3c")
                  input(name="radio", id="radio3c", value="3", type="radio")
                  span Tops
                label.radio(for="radio4c")
                  input(name="radio", id="radio4c", value="4", type="radio")
                  span Bottoms
            p Brand:
              li.field
                .picker
                  select
                    option Janie and Jack
                    option Old Navy
                    option Gap
                    option Target
                    option Columbia
    //End of four columns search-container
  //End of four columns-
