//start of store grid
main.eight.columns
    .row
      figure.three.columns
        img src("img/page-assets/thumbnail.png")
        figcaption.details
          div Sailor Suits $15
          div Jane Joe 4 hours
      figure.three.columns
        img src("img/page-assets/thumbnail.png")
        figcaption.details
          div Sailor Suits $15
          div Jane Joe 4 hours
      figure.three.columns
        img src("img/page-assets/thumbnail.png")
        figcaption.details
          div Sailor Suits $15
          div Jane Joe 4 hours
      figure.three.columns
        img src("img/page-assets/thumbnail.png")
        figcaption.details
          div Sailor Suits $15
          div Jane Joe 4 hours
    .row
      figure.three.columns
        img src("img/page-assets/thumbnail.png")
        figcaption.details
          div Sailor Suits $15
          div Jane Joe 4 hours
      figure.three.columns
        img src("img/page-assets/thumbnail.png")
        figcaption.details
          div Sailor Suits $15
          div Jane Joe 4 hours
      figure.three.columns
        img src("img/page-assets/thumbnail.png")
        figcaption.details
          div Sailor Suits $15
          div Jane Joe 4 hours
      figure.three.columns
        img src("img/page-assets/thumbnail.png")
        figcaption.details
          div Sailor Suits $15
          div Jane Joe 4 hours
    .row
      figure.three.columns
        img src("img/page-assets/thumbnail.png")
        figcaption.details
          div Sailor Suits $15
          div Jane Joe 4 hours
      figure.three.columns
        img src("img/page-assets/thumbnail.png")
        figcaption.details
          div Sailor Suits $15
          div Jane Joe 4 hours
      figure.three.columns
        img src("img/page-assets/thumbnail.png")
        figcaption.details
          div Sailor Suits $15
          div Jane Joe 4 hours
      figure.three.columns
        img src("img/page-assets/thumbnail.png")
        figcaption.details
          div Sailor Suits $15
          div Jane Joe 4 hours
      //end store grid
