.sign-in-sign-up.row
  .eight.colgrid
    .eight.columns
    .push_four.four.columns
      p Sign In | Sign Up
  .eight.colgrid
    .row.header-div
      .six.columns
        img.savings-mult-logo(src="/img/owls/savings-multiplied-logo-WEB.png")
      .six.columns.top-menu
        ul.header-options
          li.small.oval.btn.default.about.headter-btn About
            a(href='#')
          li.small.oval.btn.default.contact.headter-btn Contact
            a(href='#')
          li.small.oval.btn.default.blog.headter-btn Blog
            a(href='#')
          li.small.oval.btn.default.press.headter-btn Press
            a(href='#')
        h5 Where parents of multiples save, sell & share
