.row.pink-nav-bar
  .centered.columns.twelve
    ul.disappearing-list
      li
        a(href="#") Buy
      li
        a(href="#") Sell
      li
        a(href="#") How It Works
      li
        a(href="#") Links
      li
        a(href="#") Community
      li
        input.xnarrow.pink-nav-search.oval(type="search", placeholder="Search...")
    .current-menu-item
      a Navigation
      ul.phone-nav
        .columns.centered.two
          li
            a.linkColor(href="#") Buy
        .columns.centered.two
          li
            a.linkColor(href="#") Sell
        .columns.centered.two
          li
            a.linkColor(href="#") How It Works
        .columns.centered.two
          li
            a.linkColor(href="#") Links
        .columns.centered.two
          li
            a.linkColor(href="#") Community
        .columns.centered.two
          li
             input.xnarrow.pink-nav-search.oval(type="search", placeholder="Search...")




