extends _layout

block body
  .row
    .row.middle-block
      .columns.seven
        .columns.twelve
          h4 We're making one aspect of life easier for parents of multiples:
        .columns.twelve
          .row
            .columns.one
              img(src="img/owls/owl_light_blue_32.png", href="#")
            .columns.eleven
              p buying and selling gently used sets of clothes
            .row
              img(src="img/homepage/left_2_shop_now.png", href="#")
          .row.tree-row
            .columns.twelve.spacer
            .columns.three.push_nine
              img(src="img/homepage/tree.png", href="#")
      .columns.five
        .row
          .columns.twelve
            img(src="img/children/twins.jpg", href="#")
        .row
          .columns.twelve
            img(src="img/children/triplets.jpg", href="#")
        .row
          .columns.twelve
            img(src="img/children/quads.jpg", href="#")
    .row
      ul.dotted-line-images
        li
          img(src="img/homepage/dotted_line_44x9.png", href="#")
        li
          img(src="img/homepage/dotted_line_44x9.png", href="#")
        li
          img(src="img/homepage/dotted_line_44x9.png", href="#")
        li
          img(src="img/homepage/dotted_line_44x9.png", href="#")
        li
          img(src="img/homepage/dotted_line_44x9.png", href="#")
        li
          img(src="img/homepage/dotted_line_44x9.png", href="#")
        li
          img(src="img/homepage/dotted_line_44x9.png", href="#")
        li
          img(src="img/homepage/dotted_line_44x9.png", href="#")
        li
          img(src="img/homepage/dotted_line_44x9.png", href="#")
        li
          img(src="img/homepage/dotted_line_44x9.png", href="#")
        li
          img(src="img/homepage/dotted_line_44x9.png", href="#")
        li
          img(src="img/homepage/dotted_line_44x9.png", href="#")
        li
          img(src="img/homepage/dotted_line_44x9.png", href="#")
        li
          img(src="img/homepage/dotted_line_44x9.png", href="#")
        li
          img(src="img/homepage/dotted_line_44x9.png", href="#")
        li
          img(src="img/homepage/dotted_line_44x9.png", href="#")
        li
          img(src="img/homepage/dotted_line_44x9.png", href="#")
        li
          img(src="img/homepage/dotted_line_44x9.png", href="#")
        li
          img(src="img/homepage/dotted_line_44x9.png", href="#")
    .row.callout-row
      ul.four_up.tiles
        li
          img(src="/img/homepage/facebook_callout.png")
        li
          img(src="/img/homepage/twitter_callout.png")
        li
          img(src="/img/homepage/message_board_callout.png")
        li
          img(src="/img/homepage/special_offers_callout.png")
  .row.last-link-row
    .centered.eight.columns
      ul.bottom-links
        li Link here
        li |
        li Link here
        li |
        li Link here
        li |
        li Link here
        li |
        li Link here
        li |
        li Link here
