extends _layout

block body
  .row
    aside.four.columns.container-color.container-space
      h5.container-color Limit your search by:
      hr
      .row.field
      input.normal(type="text")
      .small.oval.btn.success search
      .row.container-color.highpad
        .six.columns.container-color.lowpad
          h6.highpad Condition:
        .six.columns.container-color
          .two.columns.container-color
            input(name="radio", id="radio1", value="1" type="radio")
          .four.columns
            label New
        
        .six.columns.container-color
          input(name="radio", id="radio2", value="2" type="radio")
          label Gently Used
      .row.twelve.colgrid.container-color
        h6.highpad Size:
        .six.columns.color-container
          .twelve.columns.container-color
            input(name="radio", type="radio")
            label 4
          .twelve.columns.container-color
            input(name="radio", type="radio")
            label 5
          .twelve.columns.container-color
            input(name="radio", type="radio")
            label 6
          .twelve.columns.container-color
            input(name="radio", type="radio")
            label 7
        .five.columns.color-container
          .twelve.columns.container-color
            input(name="radio", type="radio")
            label 8
          .twelve.columns.container-color
            input(name="radio", type="radio")
            label 9
          .twelve.columns.container-color
            input(name="radio", type="radio")
            label 10
          .twelve.columns.container-color
            input(name="radio", type="radio")
            label 11
      .row.container-color
        h6.highpad Season:
        .twelve.columns
          input(name="radio",  type="radio")
          label All Seasons
        .twelve.columns
          input(name="radio", type="radio")
          label Spring
        .twelve.columns
          input(name="radio",  type="radio")
          label Summer
        .twelve.columns
          input(name="radio",  type="radio")
          label Fall
        .twelve.columns
          input(name="radio",  type="radio")
          label Winter
      .row.container-color
        h6.highpad Type:
        .container-color.twelve.columns
          input(name="radio",  type="radio")
          label Any
        .twelve.columns
          input(name="radio",  type="radio")
          label One-Piece
        .twelve.columns
          input(name="radio",  type="radio")
          label Tops
        .twelve.columns
          input(name="radio",  type="radio")
          label Bottoms
      .row.container.color
      img(src="img/page-assets/brand-dropdown.png")
    .main.row.eight.columns.container-space
      .row
        .twelve.columns.highpad.breadcrumb
          h5.container-color ALL > TWIN > B/G
      .row
        .twelve.columns.highpad.lowpad
          .six.columns.lowpad
            img(src="img/page-assets/dropdown-box-copy.png")
          .six.columns.lowpad
            p.sort prev. | page num. | next | view all
      .row
        figure.three.columns
          img(src="img/page-assets/thumbnail.png")
          figcaption.details
            div Sailor Suits $15
            div Jane Joe 4 hours
        figure.three.columns
          img(src="img/page-assets/thumbnail.png")
          figcaption.details
            div Sailor Suits $15
            div Jane Joe 4 hours
        figure.three.columns
          img(src="img/page-assets/thumbnail.png")
          figcaption.details
            div Sailor Suits $15
            div Jane Joe 4 hours
        figure.three.columns
          img(src="img/page-assets/thumbnail.png")
          figcaption.details
            div Sailor Suits $15
            div Jane Joe 4 hours
        figure.three.columns.columns-fix
          img(src="img/page-assets/thumbnail.png")
          figcaption.details
            div Sailor Suits $15
            div Jane Joe 4 hours
        figure.three.columns
          img(src="img/page-assets/thumbnail.png")
          figcaption.details
            div Sailor Suits $15
            div Jane Joe 4 hours
        figure.three.columns
          img(src="img/page-assets/thumbnail.png")
          figcaption.details
            div Sailor Suits $15
            div Jane Joe 4 hours
        figure.three.columns
          img(src="img/page-assets/thumbnail.png")
          figcaption.details
            div Sailor Suits $15
            div Jane Joe 4 hours
        figure.three.columns.columns-fix
          img(src="img/page-assets/thumbnail.png")
          figcaption.details
            div Sailor Suits $15
            div Jane Joe 4 hours
        figure.three.columns
          img(src="img/page-assets/thumbnail.png")
          figcaption.details
            div Sailor Suits $15
            div Jane Joe 4 hours
        figure.three.columns
          img(src="img/page-assets/thumbnail.png")
          figcaption.details
            div Sailor Suits $15
            div Jane Joe 4 hours
        figure.three.columns
          img(src="img/page-assets/thumbnail.png")
          figcaption.details
            div Sailor Suits $15
            div Jane Joe 4 hours
        //end store grid
